.portfolio-content {
    display: flex;
    justify-content: space-between;
}

.layer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.layer img {
    width: 400px;
    height: 280px;
    border-radius: 10px;
}

.row {
    width: 50%; 
}


.titre1, 
.titre2 {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    padding: 1rem 1rem;
}

.para-layer {
    width: 80%;
    height: 7rem;
    padding: 1rem 2rem;
    font-size: 0.85rem;
    font-weight: 300;
}