.hero-section {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10% 0;
} 

.left-hero-section {
    height: 100%;
    font-size: 2rem;
}

.hello {
    font-size: 1.3rem;
    font-weight: 200;
}

.right-hero-section {
    height: 400px;
    outline: 1px solid #fff;
    outline-offset: 10px;
    border-radius: 50%;
    margin-top: 5rem;
    z-index: -1;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 5px #DFEE3D, 0 0 25px #DFEE3D, 0 0 50px #DFEE3D, 0 0 75px #DFEE3D;
}

.title {
    font-weight: 700;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.title-name {
    color: #DAE472;
}

.skill {
    font-size: .9rem;
    color: rgb(156, 152, 152);
    margin: 1rem auto;
    font-weight: 400;
}

.link-to-hireMe {
    text-decoration: none;
}

.btn-hireMe {
    padding: .7rem 1.7rem;
    border-radius: 1.2rem;
    border: none;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    background-color: #DAE472;
}

.btn-hireMe:hover {
  box-shadow: 0 0 5px #DFEE3D,0 0 25px #DFEE3D,0 0 50px #DFEE3D,0 0 100px #DFEE3D,0 0 200px #DFEE3D;
  text-transform: uppercase;
  font-weight: 600;
}

.suitecase {
    margin-right: 1rem;
    text-decoration: none;
}

.bx {
    color: #fff;
}

.social-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.rounded-icon-linkedin {
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50%;
  padding: 4px;
}

.rounded-icon-linkedin:hover {
  box-shadow: 0 0 5px #DFEE3D,0 0 25px #DFEE3D,0 0 50px #DFEE3D,0 0 100px #DFEE3D,0 0 200px #DFEE3D;
}

@keyframes slideTop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}