.navbar {
  /* position: fixed;
  top: 0;
  left: 0; */
  height: 15vh;
  width: 100%;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
} 

.logo {
  position: relative;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 500;
  animation: slideToRight 1s ease;
}

.navbar-menu a {
  display: inline-block;
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  margin-left: 35px;
  transition: .3s;
  /* animation */
  opacity: 0;
  animation: slideToTop .4s ease forwards;
}

.navbar a:hover {
  color: #DFEE3D;
  padding-bottom: 0.15rem;
  border-bottom: 2px solid #DFEE3D ;
}

.navbar a.active {
  color: #DAE472;
}

.btn-nav-contact {
  background-color: #EDEEE5;
  border: none;
  padding: .7rem 1.1rem;
  border-radius: 2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.btn-nav-contact:hover {
  background-color: #DFEE3D;
}

.icon {
  height: 1.1rem;
  margin-right: .5rem;
  color: #363634;
}

@keyframes slideToRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideToTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
