@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: transparent;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #0c0c1f;
    color: #fff;
    overflow: hidden;
}
